/* ----------------------------------

extend_common.css  file for Discuz! X3 系列

【未来科技】 
http://www.wekei.cn
专注于 Discuz模板开发设计等服务。
详情请 查 看www.wekei.cn
或咨询 客服 QQ 1508085698 1595675868

Author: Veikei
Created Time: 2012-09-05
Modified Time: 2014-01-25
Update Time: 2014-06-06

---------------------------------- */


/*************************************************************************
* 
* 公共属性
*
**************************************************************************/
body, input, button, select, textarea { background:#fff;  font: {FONTSIZE} {FONT}; color: {TABLETEXT}; 
font-family:"Microsoft yahei","微软雅黑", Arial, Helvetica, sans-serif,  "宋体" ; }

body { background:#fff   url({STYLEIMGDIR}/bg_body.jpg) repeat-x center top ;  }

a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
a:hover { color:#f60; text-decoration:none; }
:focus { outline:0; }


ol, ul, menu { list-style:none; }
td, th, div { word-break:break-all; word-wrap:break-word }
* { outline:none } 



 .wp { margin: 0 auto; width:980px; clear:both; } 
 #wp .wp { width: auto;}


	#toptb { height:36px; line-height: 36px; border:none;  padding: 3px 3px 0 3px;   background: url({STYLEIMGDIR}/bg_toptb.png) repeat-x ;   }
		#toptb a { float: left;height:30px;  line-height: 30px;  color: #666; }
		#toptb a.showmenu { padding-right: 15px; }
		#toptb .pipe { float: left; display: none; }
#pt { margin-top:0px !important; }


/*******************/

/*
.wp { margin: 0 auto; width:960px; clear:both; }
*/
#wp .wp { width: auto; }
#um .avt img { box-shadow:0px 1px 3px #eee; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; padding: 2px; width: 48px; height: 48px; background: #fff; border:1px solid #fff; }


#nv { height: 50px; line-height:50px;   border-radius:3px 3px 0 0; background: url({STYLEIMGDIR}/nv.gif) no-repeat; }
#nv ul { height: 50px; overflow: hidden; }
#nv li { float: left; height: 50px; font-weight:normal; font-size: 14px; background: none; /*background:  url({STYLEIMGDIR}/nv_li.gif) no-repeat 100% 0 ;*/ }
.ie_all #nv li { line-height: 50px; }
.ie6 #nv li { line-height: 50px; }
#nv li a { float: left; padding:0 15px; text-align:center; width: auto; height: 50px; display:block; line-height: 50px; color: #fff; font-size:16px; background: none; }
#nv li span { display: none; }
#nv li.a { margin-left:0px; background: url({STYLEIMGDIR}/nv_a.gif) repeat-x; }
#nv li a:hover { color:#fff; text-decoration:none; background: url({STYLEIMGDIR}/nv_a.gif) repeat-x; }
#nv li.hover a:hover, #nv li.hover a { color:#fff; background: url({STYLEIMGDIR}/nv_a.gif) repeat-x; }

#qmenu { margin-top:10px;  }

.ct2_a, .ct3_a { background-color:#fff; }


/* patch */
#mu ul {  margin: 0 auto; width:978px; background:#eee; border:1px solid #ccc; border-top:none; }



/* color redefine  */
#toptb, #toptb a  { color:#000 !important;}
.hdc, .hdc a, #um p { color:#333 !important;}


/*********************************************************************

patch 2014 -  top width change AND style  

**********************************************************************/

#um .diynav { text-align: right; }
	#diy-tg { padding-top:0px;}
	#diy-tg_menu { margin-top:-12px !important;}
	#diy-tg_menu ul li a { height:24px; line-height:24px;  color:#333;}

	a#diy-tg { width: 55px; /*height:24px !important;*/ margin-top:3px;text-indent: -9999px; overflow: hidden; background: url({STATICURL}image/diy/panel-toggle.png) no-repeat 100% 1px;  }

	#diy-tg { float: none; display: inline-block; margin-bottom:0px; height: 19px;  }

	#diy-tg_menu { margin-left: -18px; }
		#diy-tg_menu li { line-height: 2; }


